h2 {
    line-height: 2.2rem;
}


p {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.container {
    margin-top: 4rem;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.detail {
    font-size: 0.7em;
    color: #cccccc;
    letter-spacing: 0.01rem;
    text-align: right;
}


@media screen and (max-width: 640px) {
    .content {
        display: block;
    }

    .detail {
        text-align: left;
    }

    p {
        margin-bottom: 0.2rem;
    }
}